.main {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: rgb(10, 128, 32);
  font-weight: bold;
  font-family: cursive;
}

.description {
  font-size: 1.42857rem;
  line-height: 1.4;
}

.cardContainer {
  margin-top: -110px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.card2 {
  z-index: 300;
}

.card3 {
  z-index: 400;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  font-size: 1.28rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.843rem;
}

.button {
  margin-top: 40px;
  text-align: center;
}

button {
  padding: 1rem;
  background-color: rgb(10, 128, 32);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: -webkit-fill-available;
}

.popular-dishes-container {
  background-color: white;
}

.typography-2 {
  font-size: 1.8rem;
  font-family: SharpSansBold, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typography-2::before,
.typography-2::after {
  border-width: 1px;
  border-top: inset;
  flex: 1 1 0%;
  /* position: relative; */
  content: '';
  /* height: 1; */
  /* top: -2px; */
  margin-right: 10px;
  margin-left: 10px;
}

.dish-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* white-space: nowrap; */
  /* overflow-x: auto; */
}

.dish-image {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  border-style: solid;
}

/* img {
  white-space: nowrap;
} */

.margin-10 {
  margin-left: 10px;
}

@media (min-width: 960px) {
  .card2 {
    min-width: 500px;
  }
}

@media (min-width: 550px) {
  .card3 {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .dish-container {
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 960px) {
  .dish-container {
    max-width: 960px;
  }
}
