.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  /* color: #8f5c2c; */
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-right: 30px;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    font-weight: 700;
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    /* background-color: #77bc1f; */
    border-bottom: 4px solid white;
    color: white;
  }
}

@media (max-width: 499px) {
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgba(123, 164, 212, 0.459);
  }

  .NavigationItem a {
    padding-right: 20px;
    padding-left: 36px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .NavigationItem {
    margin: unset;
  }
}
